Package: kubeadm
Version: 1.27.7-1.1
Section: admin
Priority: optional
Architecture: amd64
Installed-Size: 47104
Maintainer: Kubernetes Authors <dev@kubernetes.io>
Description: Command-line utility for administering a Kubernetes cluster
 Command-line utility for administering a Kubernetes cluster.
Homepage: https://kubernetes.io
Depends: kubelet (>= 1.19.0),kubectl (>= 1.19.0),kubernetes-cni (>= 1.1.1),cri-tools (>= 1.25.0)
