Package: kubelet
Version: 1.29.1-1.1
Section: net
Priority: optional
Architecture: amd64
Installed-Size: 109275
Maintainer: Kubernetes Authors <dev@kubernetes.io>
Description: Node agent for Kubernetes clusters
 Node agent for Kubernetes clusters.
Homepage: https://kubernetes.io
Depends: iptables (>= 1.4.21),kubernetes-cni (>= 1.2.0),iproute2,mount,socat,util-linux,ethtool,ebtables,conntrack,libc6
